section {
    border:	1px solid black;
    background-color: gray;
    border-radius: 1rem;
    border-radius: 0.5rem;
	width: 100%;
	height: 200px;
	color: black;
@@ -33,7 +33,7 @@ section {

#chicken {
    border: 1px solid black;
    border-radius: 1rem;
    border-radius: 0.5rem;
	text-align: center;
    width: 30%;
	margin-left: 70%;
@@ -47,7 +47,7 @@ section {

#beef {
    border: 1px solid black;
    border-radius: 1rem;
    border-radius: 0.5rem;
	text-align: center;
    width: 30%;
	margin-left: 70%;
@@ -61,7 +61,7 @@ section {

#sushi {
    border: 1px solid black;
    border-radius: 1rem;
    border-radius: 0.5rem;
	text-align: center;
    width: 30%;
	margin-left: 70%;